<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Perchè stiamo insieme?</h2>
                    <h3 class="section-subheading text-muted">L’Associazione Rete Famiglie Adottive ha i seguenti scopi prevalenti...</h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <!img class="img-circle img-responsive img-centered" src="https://lh3.googleusercontent.com/9VlxmtGfUU4sZR0eamoybkq2KPlZ5qEbUCEghrg7XSuBsYIaExW-2mysAvtkyogakY7ZP-smBu-pcRgRK4kiGq-Y66iqmQ=w1024-h677" alt="rfa">
                    <h4 class="service-heading">1. Fare rete tra famiglie</h4>
                    <p class="text-muted">Una compagnia radicata a livello locale di famiglie adottive interessate
                        a camminare insieme ad altre famiglie (adottive e/o interessate all'adozione)
                        per lo sviluppo della cultura dell'adozione
                        attraverso attività ricreative e maturative.<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-institution fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">2. Agire in sussidiarietà</h4>
                    <p class="text-muted">Collaborare con i servizi pubblici socio-assistenziali (o di altro genere)
                        coinvolti nell'adozione, in un'ottica di sussidiarietà, nonchè favorire
                        l'integrazione tra i servizi pubblici e quelli privati degli enti autorizzati
                        e di altre realtà che siano interessate al tema.<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">3. Sensibilizzare</h4>
                    <p class="text-muted">Svolgere attività atte a sensibilizzare opinione pubblica, operatori sociali,
                        scolastici ed istituzioni pubbliche e private al rispetto ed alla difesa dei diritti dei minori adottati,
                        affinché sia riconosciuta e valorizzata la loro peculiarità
                        senza per questo considerarli automaticamente con "bisogni speciali".<br>
                    </p>
                </div>
            </div>
            
<!-- Portfolio...

            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            -->
        </div>
    </section>
