<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cos'è la Rete Famiglie Adottive?</h2>
                    <h3 class="section-subheading text-muted">
L’Associazione ha i seguenti scopi prevalenti...
                    </h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <!img class="img-circle img-responsive img-centered" src="https://lh3.googleusercontent.com/9VlxmtGfUU4sZR0eamoybkq2KPlZ5qEbUCEghrg7XSuBsYIaExW-2mysAvtkyogakY7ZP-smBu-pcRgRK4kiGq-Y66iqmQ=w1024-h677" alt="rfa">
                    <h4 class="service-heading">1. fare rete tra famiglie</h4>
                    <p class="text-muted">una compagnia radicata a livello locale di famiglie adottive interessate
                        a camminare insieme ad altre famiglie (adottive e/o interessate all'adozione)
                        per lo sviluppo della cultura dell'adozione
                        attraverso attività ricreative e maturative<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-institution fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">2. agire in sussidiarietà</h4>
                    <p class="text-muted">collaborare con i servizi pubblici socio-assistenziali (o di altro genere)
                        coinvolti nell'adozione, in un'ottica di sussidiarietà, nonchè favorire
                        l'integrazione tra i servizi pubblici e quelli privati degli enti autorizzati
                        e di altre realtà che siano interessate al tema<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">3. sensibilizzare</h4>
                    <p class="text-muted">svolgere attività atte a sensibilizzare opinione pubblica, operatori sociali,
                        scolastici ed istituzioni pubbliche e private al rispetto ed alla difesa dei diritti dei minori adottati,
                        affinché sia riconosciuta e valorizzata appieno la loro peculiarità
                        senza per questo considerarli automaticamente con "bisogni speciali"<br>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">
Dallo statuto: "L’Associazione persegue esclusivamente finalità di solidarietà sociale fondate su una visione
dell&#39;adozione intesa come il diritto del minore a vivere, crescere ed essere educato da una mamma ed
un papà, nell&#39;ambito di una famiglia che sia stata adeguatamente preparata e sostenuta dalle
istituzioni, come da art.29-31 della Costituzione, e dove il minore sia accolto come un dono, nella sua
unitarietà sia come persona che come storia, senza distinzione di sesso, di etnia, di età, di lingua, di
religione e nel rispetto della identità culturale del minore stesso. L’Associazione promuove la scelta
dell’adozione come espressione di una particolare fecondità dell’esperienza coniugale matrimoniale.<br>
L’Associazione NON può svolgere il ruolo di Ente autorizzato per le procedure adottive e si mantiene
indipendente ed imparziale rispetto agli Enti autorizzati operanti, pur potendo collaborare con essi."<br>
<!br>
<!img src="https://lh3.googleusercontent.com/InsYVkYxXuOdLGr0U5ukniJN93AvxfoNYKuPkO4gMZJOS_o2S8dqZ1MGu0cpJuekJd1MN8L0Vwcs2FO6jH6nUuplyXbqhA=w1024-h677-rw" title="rete famiglie adottive" alt="rete famiglie adottive" width="80%">
                    </h3>
                </div>
            </div>
            
<!--            
            <div class="row text-center">
                <div class="col-md-4">
                    <img class="img-circle img-responsive img-centered" src="http://www.gentili.org/up22/santi_santemiliano_wiki_100.jpg" alt="sant'emiliano - fonte wikipedia">
                    <h4 class="service-heading">Parrocchia dei<br>Santi Maria ed Emiliano</h4>
                    <p class="text-muted">in Ripa<br>
                        <a href="https://www.google.com/maps/place/Via+delle+Marmore,+69,+06134+Pianello+PG,+Italia/@43.141697,12.537682,18z/data=!4m2!3m1!1s0x132c26d6e17914af:0x1a9e776cfa035a6c!6m1!1e1">Indirizzo: Via Magnolia,8 - Perugia</a><br>
                        <i>unita con</i>&nbsp; <b>Santa Maria della natività</b> in Pilonico Paterno - Perugia<br>
                        Parroco: <b>Don Bruno Contini</b><br>
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-circle img-responsive img-centered" src="http://www.gentili.org/up22/santi_sanbiagio_web_100.jpg" alt="san biagio - fonte web">
                    <h4 class="service-heading">Parrocchia di San Biagio</h4>
                    <p class="text-muted">in Pianello<br>
                        <a href="https://www.google.com/maps/place/Via+delle+Marmore,+69,+06134+Pianello+PG,+Italia/@43.141697,12.537682,18z/data=!4m2!3m1!1s0x132c26d6e17914af:0x1a9e776cfa035a6c!6m1!1e1">Indirizzo: Via delle Marmore, 48 - Perugia</a><br>
                        Parroco: <b>Don Bruno Contini</b><br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">nella UP sono presenti anche</h4>
                    <p class="text-muted">
                        un santuario mariano "<a href="http://turismo.comune.perugia.it/resources/Itinerari/depliant.pdf">Santuario della Madonna della Villa</a>" in Sant'Egidio,
                        due strutture caritativo-assistenziali "<a href="http://www.casaemmausperugia.com/">Casa Emmaus</a>" in Lidarno (opera segno)
                        e "<b>Casa di accoglienza Santa Maria Assunta</b>" in Ripa,
                        oltre all'aiuto di una comunità religiosa maschile "<a href="http://www.passionistipiet.it/le-comunita/montescosso.html">Congregazione della Passione (Passionisti)</a>" in Montescosso.
                    </p>
                </div>
            </div>
-->
        </div>
    </section>
