<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Chi siamo?</h2>
                    <h3 class="section-subheading text-muted">
L’Associazione Rete Famiglie Adottive nasce in Umbria da un gruppo di famiglie che si sono conosciute
frequentando i corsi post-adozione e organizzando le "Feste delle famiglie adottive",
che hanno coltivato la relazione con il territorio e si sono riconosciute nell’importanza
di condividere il proprio vissuto e porsi come “compagnia” e come risorsa tra sé e altre famiglie.
                        <br><br>
La parola "rete" rimanda alle famiglie come nodi autonomi ma interconnessi,
nodi che sono molto diversi tra loro ma comunicano e si aiutano tra loro
parlando lo stesso linguaggio stabilito insieme, e quando un nodo
ha un problema gli altri se ne fanno carico, nodi che hanno memoria di quello
che è accaduto e ne fanno tesoro, un intreccio di strade in cui si trova sempre
il percorso migliore o la risorsa giusta per proseguire insieme.
                    </h3>
                </div>
            </div>
            
<!--            
            <div class="row text-center">
                <div class="col-md-4">
                    <img class="img-circle img-responsive img-centered" src="http://www.gentili.org/up22/santi_santemiliano_wiki_100.jpg" alt="sant'emiliano - fonte wikipedia">
                    <h4 class="service-heading">Parrocchia dei<br>Santi Maria ed Emiliano</h4>
                    <p class="text-muted">in Ripa<br>
                        <a href="https://www.google.com/maps/place/Via+delle+Marmore,+69,+06134+Pianello+PG,+Italia/@43.141697,12.537682,18z/data=!4m2!3m1!1s0x132c26d6e17914af:0x1a9e776cfa035a6c!6m1!1e1">Indirizzo: Via Magnolia,8 - Perugia</a><br>
                        <i>unita con</i>&nbsp; <b>Santa Maria della natività</b> in Pilonico Paterno - Perugia<br>
                        Parroco: <b>Don Bruno Contini</b><br>
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-circle img-responsive img-centered" src="http://www.gentili.org/up22/santi_sanbiagio_web_100.jpg" alt="san biagio - fonte web">
                    <h4 class="service-heading">Parrocchia di San Biagio</h4>
                    <p class="text-muted">in Pianello<br>
                        <a href="https://www.google.com/maps/place/Via+delle+Marmore,+69,+06134+Pianello+PG,+Italia/@43.141697,12.537682,18z/data=!4m2!3m1!1s0x132c26d6e17914af:0x1a9e776cfa035a6c!6m1!1e1">Indirizzo: Via delle Marmore, 48 - Perugia</a><br>
                        Parroco: <b>Don Bruno Contini</b><br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">nella UP sono presenti anche</h4>
                    <p class="text-muted">
                        un santuario mariano "<a href="http://turismo.comune.perugia.it/resources/Itinerari/depliant.pdf">Santuario della Madonna della Villa</a>" in Sant'Egidio,
                        due strutture caritativo-assistenziali "<a href="http://www.casaemmausperugia.com/">Casa Emmaus</a>" in Lidarno (opera segno)
                        e "<b>Casa di accoglienza Santa Maria Assunta</b>" in Ripa,
                        oltre all'aiuto di una comunità religiosa maschile "<a href="http://www.passionistipiet.it/le-comunita/montescosso.html">Congregazione della Passione (Passionisti)</a>" in Montescosso.
                    </p>
                </div>
            </div>
-->
        </div>
    </section>
