<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">L'Associazione</h2>
                    <!h3 class="section-subheading text-muted"><!/h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="text-muted">
                        Dallo statuto: <i>"(..) L’Associazione persegue esclusivamente finalità di solidarietà sociale fondate su una visione
                        dell&#39;adozione intesa come il diritto del minore a vivere, crescere ed essere educato da una mamma ed
                        un papà, nell&#39;ambito di una famiglia che sia stata adeguatamente preparata e sostenuta dalle
                        istituzioni, come da art.29-31 della Costituzione, e dove il minore sia accolto come un dono, nella sua
                        unitarietà sia come persona che come storia, senza distinzione di sesso, di etnia, di età, di lingua, di
                        religione e nel rispetto della identità culturale del minore stesso. L’Associazione promuove la scelta
                        dell’adozione come espressione di una particolare fecondità dell’esperienza coniugale matrimoniale.<br>
                        L’Associazione NON può svolgere il ruolo di Ente autorizzato per le procedure adottive e si mantiene
                        indipendente ed imparziale rispetto agli Enti autorizzati operanti, pur potendo collaborare con essi. (..)"</i><br>
                    </p>
                    <br>
                    <h3>Consiglio Direttivo</h3>
                    <p class="text-muted">
                        (attualmente in carica, per il triennio 2023-2026)<br>
                        Maria Rosaria FIORELLI e Giovanni GENTILI, <i>coppia presidente</i><br>
                        Erica PALUMBI e Franco MICUCCI, <i>coppia segretario</i><br>
                        Luca TIBIDO' e Bambina SALATINO, <i>coppia tesoriere</i><br>
                        Emanuela CANNEORI e Matteo PALAZZOLI, <i>coppia consigliere</i><br>
                        Marco PAPA e Maria Beatrice RATINI, <i>coppia consigliere</i><br>
                    </p>  
                    <p class="text-muted">
                        (triennio 2020-2023)<br>
                        Maria Rosaria FIORELLI e Giovanni GENTILI, <i>coppia presidente</i><br>
                        CLaudia CERQUAGLIA e Simone BUONSANTO, <i>coppia vice-presidente</i><br>
                        Erica PALUMBI e Franco MICUCCI, <i>coppia segretario</i><br>                        
                        Luca TIBIDO' e Bambina SALATINO, <i>coppia tesoriere</i><br>
                        Andrea PERUZZI e Alice TUTERI, <i>coppia consigliere</i><br>
                    </p>  
                    <p class="text-muted">
                        (triennio 10/2016-2020)<br>
                        Maria Rosaria FIORELLI e Giovanni GENTILI, <i>coppia presidente</i><br>
                        Luca TIBIDO' e Bambina SALATINO, <i>coppia vice-presidente</i><br>
                        Beatrice ALUNNI e Andrea BILLERI, <i>coppia segretario</i><br>
                        &nbsp; <i>cui sono subentrati nel 2018</i> Tatiana BACUCCOLI e Andrea FALOMI, <i>coppia segretario</i><br>
                        Simone BUONSANTO e CLaudia CERQUAGLIA, <i>coppia tesoriere</i><br>
                        Erica PALUMBI e Franco MICUCCI, <i>coppia consigliere</i><br>
                    </p>                
                </div>
            </div>
            
<!--
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
-->
        </div>
    </section>
